/*TODO:
1. Make a wrapper that is responsive for mobile and website using media queries to center page(s). 
*/

wrapper {}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline;
    list-style: none;
    text-transform: uppercase;
}

nav a {
    color: black;
    text-decoration: none;
}
